{
  "comments": false,
  "presets": [
    ["env", { "modules": false }],
    "es2015",
    "stage-2"
  ],
  "plugins": [
    "add-module-exports",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-runtime"
  ]
}
